[Unit]
Description=Make sound effects on MQTT

[Service]
WorkingDirectory=/home/pi/sfx
ExecStart=/home/pi/sfx/listen
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
